@using PhoneBook.Models
@model IEnumerable<Person>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #ccc;
    }

    .btn-input {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 20px;
        margin: 5px;
        border: none;
        border-radius: 4px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        background-color: #8C959D;
        box-shadow: 0 2px #44474a;
        vertical-align: top;
    }

    .btn {
        width: 110px;
        display: inline-block;
        background: #8C959D;
        color: #fff;
        padding: 1rem 1.5rem;
        text-decoration: none;
        border-radius: 3px;
    }

    .b-container {
        margin: 0px auto;
        padding: 10px;
        font-size: 20px;
        color: #fff;
    }

    .popup {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }

        .popup:target {
            opacity: 1;
            visibility: visible;
        }

    .popup_body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }

    .popup_content {
        background-color: #fff;
        color: #000;
        max-width: 800px;
        padding: 30px;
        position: relative;
    }

    .popup_title {
        font-size: 40px;
        margin: 0px 0px 1em 0px;
    }

    .popup_close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
        color: #000;
        text-decoration: none;
    }

    .popup_area {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    #phone {
        color: #ccc;
    }
</style>

<div class="b-container">
    <h2>Contacts</h2>

    <table rules="all">
        <tr>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Phone</b>
            </td>
            <td>
                <b>Job Title</b>
            </td>
            </td>
            <td>
                <b>Date of birth</b>
            </td>
        </tr>
        @foreach (Person p in @Model)
        {
            <tr>
                <td><p>@p.Name</p></td>
                <td><p>@p.MobilePhone</p></td>
                <td><p>@p.JobTitle</p></td>
                <td><p>@p.BirthDate.ToShortDateString()</p></td>
                <td>
                    @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                    {
                        @Html.Hidden("Id", p.Id)
                        <div>
                            <input type="submit" class="btn-input" value="Delete" />
                        </div>
                    }
                </td>
                <td>
                    <a id="editLink" onclick=getPerson(@p.Id) href=#edit class="btn-input">Edit</a>
                </td>
            </tr>
        }
    </table>

    <br />
    <br />
    <a href=#create class="btn">New contact</a>
</div>
<div id="create" class="popup">
    <a href="#" class="popup_area"></a>
    <div class="popup_body">
        <div class="popup_content">
            <a href="#" class="popup_close">X</a>
            <div class="popup_title">New Contact</div>
            <div class="popup_text">
                @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { onsubmit = "return ValidPhone()" }))
                {
                    <p id="messageAll">Заполните все поля!</p>
                    <b>
                        <label>Name:</label>
                    </b>
                    <input type="text" name="Name" />
                    <br />
                    <br />
                    <b>
                        <label>Mobile Phone:</label>
                    </b>
                    <p id="message">Пожалуйста, введите номер телефона, соответствуещего формата! </p>
                    <input type="text" id="phone" name="MobilePhone" value="+375-XX-XXX-XX-XX" />
                    <br />
                    <br />
                    <b>
                        <label>Job Title:</label>
                    </b>
                    <input type="text" name="JobTitle" />
                    <br />
                    <br />
                    <b>
                        <label>Date of birth:</label>
                    </b>
                    <input type="date" name="BirthDate" />

                    <br />
                    <br />
                    <input type="submit" class="btn-input" value="Add new contact" />
                }
            </div>
        </div>
    </div>
</div>
<div id="edit" class="popup">
    <a href="#" class="popup_area"></a>
    <div class="popup_body">
        <div class="popup_content">
            <a href="#" class="popup_close">X</a>
            <div class="popup_title">Edit Contact</div>
            <div class="popup_text">
                @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                {

                    <input type="hidden" id="personId" name="id" />
                    <b>
                        <label>Name:</label>
                    </b>
                    <input type="text" id="Name" name="Name" />
                    <br />
                    <br />
                    <b>
                        <label>Mobile Phone:</label>
                    </b>
                    <input type="text" id="MobilePhone" name="MobilePhone" />
                    <br />
                    <br />
                    <b>
                        <label>Job Title:</label>
                    </b>
                    <input type="text" id="JobTitle" name="JobTitle" />
                    <br />
                    <br />
                    <b>
                        <label>Date of birth:</label>
                    </b>
                    <input type="date" id="BirthDate" name="BirthDate" />

                    <br />
                    <br />
                    <input type="submit" class="btn-input" value="Save" />

                }
            </div>
        </div>
    </div>
</div>
<script>
      async function getPerson(id) {

              const response = await fetch("/Home/GetPerson/" + id, {
                  method: "GET",
                  headers: { "Accept": "application/json" }
              });
              if (response.ok === true) {
                  const person = await response.json();
                  var date = person.birthDate.slice(0,10);
                  console.log(person.mobilePhone);
                  document.getElementById('personId').value = person.id;
                  document.getElementById('Name').value = person.name;
                  document.getElementById('MobilePhone').value = person.mobilePhone;
                  document.getElementById('JobTitle').value = person.jobTitle;
                  document.getElementById('BirthDate').value = date;
              }
          }

    function ValidPhone() {
          var re = /^(\s*)?(\+)?([-()+]?\d[-()+]?){10,14}(\s*)?$/;
          var myPhone = document.getElementById('phone').value;
          var valid = re.test(myPhone);
          console.log(valid)
          if (valid) output = 'Номер телефона введен правильно!';
          else output = 'Номер телефона введен неправильно!';
          document.getElementById('message').innerHTML = output;
          return valid;
      }
</script>